/* Reset de margens e preenchimentos padrão */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #dfcae1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    padding: 1rem;
    background-color: #dcffff;
}

.container {
    width: 80%;
    flex: 1;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.child {
    padding: 10%;
    width: 80%;
}

.center {
    text-align: center;
}

footer {
    background-color: #dcffff;
    width: 100%;
    text-align: center;
    padding: 1rem; /* Adicionei um padding para melhorar a aparência */
    margin-top: auto; /* Garante que o footer fique no fim da página */
}
